@model IEnumerable<TISklep.Models.Film>

<h3>Filmy zawierające fraze: @ViewBag.szukanie</h3>

<div class="tabele m-5">
    <table>
        <thead>
            <tr>
                <th class="th25">Tytuł filmu</th>
                <th class="th25">Reżyser</th>
                <th class="th25">Data dodania</th>
                <th class="th25">Cena</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var film in Model)
            {
                <tr>
                    <td>@film.Tytul</td>
                    <td>@film.Rezyser</td>
                    <td>@film.DataDodania.Value.Date.ToString("dd MMMM yyyy")</td>
                    <td>@film.Cena zł</td>
                    <td>
                        <a href="@Url.Action("Szczegoly", "Filmy", new { idFilmu=film.Id })">&#128270;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>